/* work sans font from google font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
       font-family: 'Work Sans', sans-serif;
}

/* repeated classes */
.shadow{
       background: #FFF;
       box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.container{
       max-width: 1120px;
       margin: 0 auto;
}

/* navbar styles */

nav {
       justify-content: space-between;
       display: flex;
       align-items: center;
       height: 130px;
}

.logo{
       height: 40px;
       width: 86px;
}

.nav-header {
       display: flex;
       align-items: center;
       gap: 2px;
}

.nav-header h3 {
       font-size: 3rem;
}

.nav-header .nav-pink {
       color: rgb(255, 66, 165);
}

.nav-link-main{
       display: flex;
       align-items: center;
       gap: 45px;
       list-style: none;
}
.nav-link-main a{
       text-decoration: none;
       color: #3C354F;
       font-size: 1rem;
}

.nav-social{
       display: flex;
       align-items: center;
       gap: 8px;
       background: rgba(11, 2, 35, 0.10);
       border-radius: 8px;
       padding: 0px 15px;

}

/* banner styles */
.banner-container, .gamer{
       margin: 0px auto;
       display: flex;
       justify-content: space-evenly;
       gap: 68px;
}
.banner-text{
       background-image: url(/images/Group\ 14.png);
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
}
.gamer{
       background-color: rgb(255, 249, 252);
}

/* banner styles */
.card-container{

}
.card-container .card-text{
       text-align: center;
}
.card-container .cards{
       display: flex;
}

/* details styles */
.details-container{
       display: flex;
}
/* games styles */
.games-container{
       display: flex;
}
.games{
       display: flex;
}

/* footer styles */
.footer{
       background-color: #0B0223;;
}
.footer-about{
       display: flex;
}
.footer-about li{
       list-style: none;
       padding: 20px;
       
}
.footer-about li a{
       text-decoration: none;
       cursor: pointer;
       color: white;
}
.policy{
       display: flex;
       text-decoration: none;
       list-style: none;
       padding: 10px 30px;
}
.policy li{
       padding: 10px 30px;
}
.policy li a{
       text-decoration: none;
        color: rgba(255, 255, 255, 0.60);
}
.copyright{
       color: white;
       color: rgba(255, 255, 255, 0.60);
       
}
/* responsive media queries */
       /* mobile devices */
       @media screen and (max-width: 425px) {
              .container,
              nav-desc
              {
                     flex-direction: column;
              }
}